<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/main.css">
    <link rel="stylesheet" href="/static/about.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/96b38b3504.js"></script>
    <title>Alexandre Manai Portfolio</title>
  </head>

  <body>
    <nav class="main-nav">
      <div class="logo">
        <h4><a class="home-logo" href="/">Alexandre Manai</a></h4>
      </div>
      <ul class="nav-links">
        <li><a href="/">Home</a></li>
        <li><a href="projects.html">Projects</a></li>
      </ul>
      <div class="burger">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
      </div>
    </nav>

    <div class="flex-container">
      <div style="flex-grow: 1">
          <img src="/static/images/portrait.jpg" alt="portrait">
      </div>
      <div style="flex-grow: 9">
          <div class="text">
              <h1>Hello! Nice to meet you :)</h1>
              <br>
              <br>
              <p>As you may already know, my name is Alexandre Manai.</p>
              <p>I'm a 21 year old student from Paris pursuing my bachelor's degree in Computer Science at ETH Zürich.</p>
              <p>My parents being french and german and going to an International School with over 19 different  Nationalities,</p>
              <p>I was fortunate to experience different perspectives which
              helped me understand the importance of community, 
              </p>
              <p> sharing ideas and mutual support.</p>
              <br>
              <p>I've been playing soccer for 11 years now. Being the captain of my team taught me responsibility and leadership.</p>
              <p>I learned that being captain doesn't always mean seriousness and rigour, but flexibility and being understanding</p>
              <p>towards everyone. Trying to see each person's point of view is key to bring everyone together towards a common goal.</p>
              <br>
              <p>In my spare time, I've also been shooting videos and editing pictures especially for the instagram account</p>
              <p><a href="https://www.instagram.com/80cartoonz/">@80cartoonz</a>. Seeing all those creative ideas come together 
              in one end result is always so fulfilling and rewarding.</p>
              <br>
              <p>But one thing that has always interested me is how nature works. Especially Evolution and Intelligence, in the broad term.</p>
              <p>Scientific ideas and projects that turned to nature to find answers have always fascinated me. Artificial Intelligence</p>
              <p>has been my biggest interest. Understanding different algorithms and implementing them is so much fun for me!</p> 
              <br>
              <h5>If you want to get to know me more, here is my <a href="/static/pdfs/CV.pdf">CV</a> and contact me via the links below</h5> 
            </div>
      </div>  
    </div>

    <div class="middle">
      <a class="btn" href="https://gitlab.com/lOkkOl">
        <i class="fab fa-gitlab"></i>
      </a>
      <a class="btn" href="https://www.linkedin.com/in/alexandre-manai-0129467a/">
        <i class="fab fa-linkedin"></i>
      </a>
      <a class="btn" href="mailto:alexandre@manai.fr">
        <i class="fas fa-envelope"></i>
      </a>
    </div>
    
  </body>

  <footer>
    
  </footer>

</html>
