<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/static/main.css">
  <link rel="stylesheet" href="/static/meteo.css">
  <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
  <title>Alexandre Manai Portfolio</title>
</head>

<body>
  <nav class="main-nav">
    <div class="logo">
      <h4><a class="home-logo" href="/">Alexandre Manai</a></h4>
    </div>
    <ul class="nav-links">
      <li><a href="/">Home</a></li>
      <li><a href="about.html">About Me</a></li>
      <li><a href="projects.html">Projects</a></li>
    </ul>
    <div class="burger">
      <div class="line1"></div>
      <div class="line2"></div>
      <div class="line3"></div>
    </div>
  </nav>

  <script src="/static/app.js"></script>

  <div class="flex-container">
    <div class="first-block">
      <div class="img_exp" style="flex-grow: 1">
        <img src="/static/images/meteo.jpg" alt="meteo image">
        <p>Front cover of our paper</p>
      </div>
      <div class="intro" style="flex-grow: 9">
        <h1>Meteorological Station</h1>
        <p>- <u>Language of implementation:</u>  C++</p>
        <p>- <u>Technologies:</u> Arduino Uno, Multiple Sensors and Parallax</p>
        <br> 
        <p>We are all dependant of weather, it shapes our days and moods, but local weather forecast stations on the market are extremely expensive. That's why my
           team and I decided to build a personal one from scratch. It was my first real interaction with software and hardware. Furthermore, 
           it was an exciting and interesting intiation into teamwork especially as the team leader.  
        </p>
        <br>
        <p>
          This project took place in my last year of high school. We were asked to find a subject of our paper at the beginning and was due at the end of the year.
          We found the subject quite fast because of our common interest in this subject. We had mentoring by a professor and one of my collegue's father. We were 
          also asked to hold a presentation of our project. I really loved the drive of everyone and how we progressively saw it come together. Those were the things
          I loved about it. I'd love to have such an experience later on in my professional life.
        </p>
      </div>
    </div>   
  </div>  
  <div class="second-block">
    <p>
      Our project was ambitious, because it fused hardware and software. At first, we had to learn some electronics and computer architecture to even understand how
      things worked. We then had to learn C++ which was a new programming language for us. All the different sensors and displays got us confused at times, but that
      is also what made it so interesting.  
    </p>
    <p>
      I proposed to split up the tasks to be more efficient. I was responsible for software part which implide learning C++ and coming up with new ideas on how
      to make this project even more interesting. At the beginning, we only wanted to create a meteorological station which captured data from the environment
      and then gave it back to the user, but having heard of Parallax and mathematical models to make climat forecasts, we opted to try this out too.  
    </p>
    <p>
      Several times during the project, we hestitated to continue with the forecast idea, because it seemed too ambitious. In the end, we still got it working.
      I think our strive to do something really interesting and valuable pushed us to work long days and nights to make that happen.
    </p>
    <p>
      Our efforts got rewarded at the end, because we got the best grade of the whole class but moreover what truly made us proud
      was that through our teamwork we built something that was useful and could actually help some people. 
    </p>
    <p>
      It was one of the most valuable projects I've ever done until now and hope to have many more in the future :)
    </p>
    <br>
    <p>I'm open to any optimizing suggestions and new ideas! Here is the paper: <a href="/static/pdfs/ISN_project.pdf">Meteorological Station</a>. 
       Unfortunately, I only have a french version.
    </p>
  </div>

</body>

</html>
